.qei-checkbox {
    position: relative;
    outline: none;
    border: var(--component-border-color) 1px solid;
    padding: 0.5rem 1rem;
    background-color: var(--container-background-color);
    box-sizing: border-box;
}
