<script lang="ts">
    import { getContext, onMount } from 'svelte'
    import { formContext, FormContext } from '../form/form.svelte'
    import { createUId } from '../utils/uid-creator'

    export let name: string = undefined
    export let checked = false

    const id = `input-${createUId()}`
    name = name ? name : id
    const context = getContext<FormContext>(formContext)

    $: if (context) {
        context.changeItemValue({
            id,
            name,
            value: checked,
        })
    }

    $: classes = [`qei-checkbox`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')

    onMount(async () => {
        if (context) {
            context.addItem({ id, name, value: checked })
        }
    })
</script>

<input type="checkbox" bind:checked {name} {id} class={classes} {...$$restProps} style={styles} />

<style lang="scss">
    @import './checkbox';
</style>
