@use 'sass:math';
@use '../../styles/mediaqueries';

$columnCount: 12;

.qei-column {
    position: relative;
    flex-grow: 0;

    @include mediaqueries.xs {
        @for $i from 0 through $columnCount + 1 {
            &.xs-#{$i} {
                width: math.div(($i) * 100%, $columnCount);
                box-sizing: border-box;
                flex-grow: 0;
            }
        }
    }

    @include mediaqueries.sm {
        @for $i from 0 through $columnCount + 1 {
            &.sm-#{$i} {
                width: math.div(($i) * 100%, $columnCount);
                box-sizing: border-box;
                flex-grow: 0;
            }
        }
    }

    @include mediaqueries.md {
        @for $i from 0 through $columnCount + 1 {
            &.md-#{$i} {
                width: math.div(($i) * 100%, $columnCount);
                box-sizing: border-box;
                flex-grow: 0;
            }
        }
    }

    @include mediaqueries.lg {
        @for $i from 0 through $columnCount + 1 {
            &.lg-#{$i} {
                width: math.div(($i) * 100%, $columnCount);
                box-sizing: border-box;
                flex-grow: 0;
            }
        }
    }

    @include mediaqueries.xl {
        @for $i from 0 through $columnCount + 1 {
            &.xl-#{$i} {
                width: math.div(($i) * 100%, $columnCount);
                box-sizing: border-box;
                flex-grow: 0;
            }
        }
    }
}
