<script lang="ts">
    export let order = 0
    export let grow = 0
    export let shrink = 1
    export let basis = 'auto'
    export let alignSelf = 'center'
    export let extraSmall: number = undefined
    export let small: number = undefined
    export let medium: number = undefined
    export let large: number = undefined
    export let extraLarge: number = undefined

    $: classes = [
        `qei-column`,
        extraSmall && `xs-${extraSmall}`,
        small && `sm-${small}`,
        medium && `md-${medium}`,
        large && `lg-${large}`,
        extraLarge && `xl-${extraLarge}`,
        $$restProps.class,
    ]
        .filter(Boolean)
        .join(' ')

    $: styles = [
        `order:${order}`,
        `flex-grow:${grow}`,
        `flex-shrink:${shrink}`,
        `flex-basis:${basis}`,
        `align-self:${alignSelf}`,
        $$restProps.style,
    ]
        .filter(Boolean)
        .join(';')
</script>

<div class={classes} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './column.scss';
</style>
