<script lang="ts">
    $: classes = [`qei-row`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<div class={classes} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './row';
</style>
