.qei-select {
    position: relative;
    background-color: var(--container-background-color);

    &.absolute {
        position: absolute;
    }

    .options-container {
        display: none;
        width: 100%;
        position: absolute;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: var(--container-background-color);
        border: var(--component-border-color) 1px solid;
        list-style: none;
    }

    &.is-open .options-container {
        display: flex;
    }
}
