<script lang="ts">
    import { getContext, onMount } from 'svelte'
    import { createUId } from '../utils/uid-creator'
    import { selectContext, SelectContext } from './select.svelte'
    import { activeSelectItem, addSelectItem, SelectItem } from './selectStore'

    export let active = false
    export let text: string = undefined
    export let value: any = undefined

    const item: SelectItem = {
        id: createUId(),
        active,
        text,
        value,
    }

    const context = getContext<SelectContext>(selectContext)

    onMount(async () => {
        if (active) {
            $activeSelectItem = item
        }

        activeSelectItem.subscribe((activeItem) => {
            if (activeItem) {
                item.active = activeItem.id === item.id
            }
        })
        addSelectItem(item)
    })

    $: classes = [`qei-select-item`, item.active && `active`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<li
    on:click
    on:click={() => {
        $activeSelectItem = item
        if (context) {
            context.onSelect()
        }
    }}
    class={classes}
    style={styles}
    {...$$restProps}>
    {#if text}
        {text}
    {/if}<slot />
    <div class="hover" />
</li>

<style lang="scss">
    @import './select-item';
</style>
