<script lang="ts" context="module">
    export interface SelectContext {
        onSelect(): void
    }

    export const selectContext = {}
</script>

<script lang="ts">
    import Button from '../button/button.svelte'
    import ChevronDown from 'carbon-icons-svelte/lib/ChevronDown.svelte'
    import ChevronUp from 'carbon-icons-svelte/lib/ChevronUp.svelte'
    import { fade } from 'svelte/transition'
    import { activeSelectItem, SelectItem } from './selectStore'
    import { hideOnClickOutside } from '../utils/hideOnClickOutside'
    import { setContext } from 'svelte'

    export let placeholder: string = 'Select'
    export let isOpen = false
    export let absolute = false
    export let activeItem: SelectItem = undefined

    const toggleVisibility = () => {
        isOpen = !isOpen
    }

    activeSelectItem.subscribe((item) => {
        if (item) {
            activeItem = item
        }
    })

    const onSelect = () => {
        isOpen = false
    }

    setContext<SelectContext>(selectContext, { onSelect })
    $: classes = [`qei-select`, absolute && `absolute`, isOpen && `is-open`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<ul
    use:hideOnClickOutside={() => {
        isOpen = false
    }}
    class={classes}
    {...$$restProps}
    style={styles}>
    <Button on:click={toggleVisibility} justifySpaceBetween isTransparent
        >{placeholder}
        {#if isOpen}
            <ChevronUp />
        {:else}
            <ChevronDown />
        {/if}
    </Button>
    <div transition:fade class="options-container">
        <slot />
    </div>
</ul>

<style lang="scss">
    @import './select';
</style>
