<script lang="ts">
    import Content from '../components/ui/content/content.svelte'
    import Button from '../components/ui/button/button.svelte'
    import Box from '../components/ui/box/box.svelte'
    import Container from '../components/ui/container/container.svelte'
    import Row from '../components/ui/container/row.svelte'
    import Column from '../components/ui/container/column.svelte'
    import List from '../components/ui/list/list.svelte'
    import ListItem from '../components/ui/list/list-item.svelte'
    import { activeListItem, ListITem } from '../components/ui/list/listStore'
    import Checkbox from '../components/ui/checkbox/checkbox.svelte'
    import TextInput from '../components/ui/text-input/text-input.svelte'
    import PasswordInput from '../components/ui/password-input/password-input.svelte'
    import ButtonGroup from '../components/ui/button/button-group.svelte'
    import Form from '../components/ui/form/form.svelte'
    import Select from '../components/ui/select/select.svelte'
    import SelectItem from '../components/ui/select/select-item.svelte'
    import { activeSelectItem } from '../components/ui/select/selectStore'
    let formData: Record<string, any>
</script>

<Content>
    <Box>
        <Form bind:formData>
            <TextInput name="Email" minlength="10" placeholder="Email" />
            <PasswordInput name="Password" placeholder="Password" />
            <Checkbox name="Remember" />
            <ButtonGroup>
                <Button>Button</Button>
                <Button isTransparent>Button 2</Button>
            </ButtonGroup>
        </Form>
        <pre>{JSON.stringify(formData)}</pre>
    </Box>
</Content>

<!-- <Content>
    <Container>
        <Row>
            <Column extraSmall={12} small={6} large={3}>Column 1</Column>
            <Column extraSmall={12} small={6} large={3}>Column 2</Column>
            <Column extraSmall={12} small={6} large={3}>Column 3</Column>
            <Column extraSmall={12} small={6} large={3}>Column 4</Column>
        </Row>
    </Container>
</Content> -->

<Content>
    <List>
        <ListItem value="value 1" text="Item 1" />
        <ListItem value="value 2" text="Item 2" />
        <ListItem value="value 3" text="Item 3" active={true} />
        <ListItem value="value 4" text="Item 4" />
    </List>
    <pre>{JSON.stringify($activeListItem)}</pre>
</Content>

<Content>
    <Select>
        <SelectItem value={1} text="Option 1" />
        <SelectItem value={2} text="Option 2" active />
        <SelectItem value={3} text="Option 3" />
        <SelectItem value={4} text="Option 4" />
    </Select>
    <pre>{JSON.stringify($activeSelectItem)}</pre>
</Content>
