<script lang="ts">
    $: classes = [`qei-content`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<div class={classes} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './content.scss';
</style>
