<script lang="ts">
    export let hasShadow = true

    $: classes = [`qei-box`, hasShadow && `hasShadow`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<div class={classes} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './box.scss';
</style>
