.qei-list-item {
    position: relative;
    padding: 0.5rem 1rem;
    overflow: hidden;
    cursor: pointer;
    line-height: 1;
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: baseline;
    justify-content: start;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    &.active .hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }

    .hover {
        background: transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transition: all 0.2s ease-in-out;
    }
}
