.qei-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--container-background-color);
    border: var(--component-border-color) 1px solid;
    list-style: none;
    font-size: 1em;

    &.absolute {
        position: absolute;
    }
}
