<script lang="ts">
    import { onMount } from 'svelte'
    import { createUId } from '../utils/uid-creator'
    import { activeListItem, addListItem, ListITem } from './listStore'

    export let active = false
    export let text: string = undefined
    export let value: any = undefined

    const item: ListITem = {
        id: createUId(),
        active,
        text,
        value,
    }

    $: classes = [`qei-list-item`, item.active && `active`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')

    onMount(async () => {
        if (active) {
            $activeListItem = item
        }

        activeListItem.subscribe((activeItem) => {
            if (activeItem) {
                item.active = activeItem.id === item.id
            }
        })
        addListItem(item)
    })
</script>

<li
    on:click
    on:click={() => {
        $activeListItem = item
    }}
    class={classes}
    style={styles}
    {...$$restProps}>
    {#if text}
        {text}
    {/if}<slot />
    <div class="hover" />
</li>

<style lang="scss">
    @import './listItem';
</style>
