<script lang="ts">
    import { activeListItem, ListITem } from './listStore'

    export let absolute = false
    export let activeItem: ListITem = undefined

    $: classes = [`qei-list`, absolute && `absolute`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')

    activeListItem.subscribe((item) => {
        if (item) {
            activeItem = item
        }
    })
</script>

<ul class={classes} {...$$restProps} style={styles}>
    <slot />
</ul>

<style lang="scss">
    @import './list';
</style>
