<script lang="ts" context="module">
    export interface FormItem {
        value: any
        id: string
        name: string
    }

    export interface FormContext {
        addItem(item: FormItem): void
        changeItemValue(item: FormItem): void
    }

    export const formContext = {}
</script>

<script lang="ts">
    import { setContext } from 'svelte'

    export let width: string = '100%'
    export let formData: Record<string, any> = {}

    let items: FormItem[] = []

    const addItem = (item: FormItem) => {
        items.push(item)
    }

    const changeItemValue = (item: FormItem) => {
        const foundIndex = items.findIndex((i) => i.id === item.id)
        items[foundIndex] = item

        prepareFormData()
    }

    const prepareFormData = () => {
        formData = {}
        items.forEach((item) => {
            formData[item.name] = item.value
        })
    }

    setContext<FormContext>(formContext, { addItem, changeItemValue })
    $: classes = [`qei-form`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [width, $$restProps.style].filter(Boolean).join(';')
</script>

<div class={classes} {...$$restProps} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './form';
</style>
