.qei-button-group {
    display: grid;
    grid-auto-flow: column;
    justify-content: stretch;
    width: 100%;

    &.horizontal {
        grid-auto-flow: column;
    }

    &.vertical {
        grid-auto-flow: row;
    }
}
