.qei-button {
    position: relative;
    background-color: var(--primary-color);
    overflow: hidden;
    cursor: pointer;
    line-height: 1;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    border: none;
    color: rgb(245, 245, 245);
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: baseline;
    font-size: 1em;

    &.disabled,
    :disabled {
        cursor: default;
        background-color: var(--disabled-background-color);
        color: var(--disabled-text-color);
        pointer-events: none;
    }

    &.transparent {
        background: transparent;
        color: var(--text-color);
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-stretch {
        justify-content: stretch;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    .hover {
        background: transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transition: all 0.2s ease-in-out;
        z-index: 0;
    }

    &:hover > .hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }

    &:active > .hover {
        background-color: rgba($color: #000000, $alpha: 0.15);
    }

    &.active .hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
}
