<script lang="ts">
    export let isTransparent = false
    export let disabled = false
    export let active = false
    export let justifyStretch = false
    export let justifySpaceBetween = false

    $: classes = [
        `qei-button`,
        justifyStretch && `justify-stretch`,
        justifySpaceBetween && `justify-space-between`,
        isTransparent && `transparent`,
        active && `active`,
        disabled && `disabled`,
        $$restProps.class,
    ]
        .filter(Boolean)
        .join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<button on:click class={classes} {...$$restProps} style={styles}
    ><slot />
    <div class="hover" />
</button>

<style lang="scss">
    @import './button.scss';
</style>
