<script lang="ts">
    $: classes = [`qei-button-group`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')
</script>

<div class={classes} {...$$restProps} style={styles}>
    <slot />
</div>

<style lang="scss">
    @import './button-group';
</style>
