:root {
    --background-color: #f3f3f3;
    --text-color: rgb(40, 40, 40);
    --primary-color: #1e90ff;
    --transparent: rgba(255, 255, 255, 0);

    --disabled-background-color: #a1a1a1;
    --disabled-text-color: #c9c9c9;

    --container-background-color: #fafafa;

    --component-border-color: #e4e4e4;
}
