@import './colors';
@import './variables';

body {
    margin: 0;
    font-family: Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    margin: 0;
    padding: 0.5rem 0;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
a:visited,
a:active {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    margin-block: 0;
    color: inherit;
}
