<script lang="ts">
    import { getContext, onMount } from 'svelte'
    import { formContext, FormContext } from '../form/form.svelte'
    import { createUId } from '../utils/uid-creator'

    export let name: string = undefined
    export let placeholder: string = ''
    export let value: string = ''

    const id = `input-${createUId()}`
    name = name ? name : id

    const context = getContext<FormContext>(formContext)

    $: if (context) {
        context.changeItemValue({
            id,
            name,
            value,
        })
    }

    $: classes = [`qei-text-input`, $$restProps.class].filter(Boolean).join(' ')
    $: styles = [$$restProps.style].filter(Boolean).join(';')

    onMount(async () => {
        if (context) {
            context.addItem({ id, name, value })
        }
    })
</script>

<input bind:value on:input class={classes} {...$$restProps} style={styles} type="text" {placeholder} {name} {id} />

<style lang="scss">
    @import './textInput.scss';
</style>
