.qei-password-input {
    position: relative;
    display: block;
    outline: none;
    border: var(--component-border-color) 1px solid;
    padding: 0.5rem 1rem;
    background-color: var(--container-background-color);
    width: 100%;
    box-sizing: border-box;
}
